backend/file_service/node_modules
backend/file_service/.env
backend/user_service/.env
backend/user_service/node_modules
backend/gateway/node_modules
frontend/node_modules
frontend/.env
backend/gateway/.env
backend/file_service/dist
backend/user_service/dist
backend/gateway/dist